<h1 class="mb-3">Send an email</h1>

<form method="POST">
  <div class="form-group">
    <label>Recipients (separate addresses by semicolon)</label>
    <input class="form-control" name="em-recipients" type="text" value="{{ newEmail.recipients }}">
  </div>
  
  <div class="form-group">
    <label>Subject</label>
    <input class="form-control" name="em-subject" type="text" value="{{ newEmail.subject }}">
  </div>
  
 {{!--  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Start</label>
        <input class="form-control" name="ev-start" type="datetime-local" value="{{ newEvent.start }}">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>End</label>
        <input class="form-control" name="ev-end" type="datetime-local" value="{{ newEvent.end }}">
      </div>
    </div>
  </div> --}}
  
  <div class="form-group mb-3">
    <label>Body</label>
    <textarea class="form-control" name="em-body" rows="3">{{ newEmail.body }}</textarea>
  </div>
  
  <input class="btn btn-primary mr-2" type="submit" value="Send" />
  <a class="btn btn-secondary" href="/calendar">Cancel</a>
  
</form>